* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.header-section {
  background-color: #ff900e1a;
  height: 1120px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-font h1 {
  margin-left: 150px;
  font-size: bolder;
  margin-top: 30px;
}

.nav-menu ul {
  margin-top: 30px;
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 150px;
}

.nav-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.nav-body h1, p{
    margin-bottom:30px;
}

.nav-body h1{
    font-size: 64px;
}

.btn{
    background-color: orange;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}

.banner-img img{
    height: 600px;
    width: 1200px;
    border-radius: 8px;

}
 .main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .main-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 180px;
    
 }


 .main-text{
    width: 400px;
    margin-right: 200px;
 }

 .main-text h1,p{
    margin-bottom:30px;
 }

 #span1{
    color: rgb(118, 145, 170);
 }

 #span3{
    color: orange;
 }

 .architect{
    display: flex;
    justify-content:space-between;
    margin-top:100px ;
 }

 .architect-text{
    width: 40%;
    margin-left: 130px;
    margin-top: 40px;
 }
 .architect-text h1{
    border-left: 5px solid orange;
    margin-bottom: 15px;
    font-size: 45px;
 }

 .architect-img img{
    margin-left:120px;
  
 }

 .btn-big{
    padding: 25px;
    position: relative;
    bottom:115px;
    left: 80px;
 }

 .span4{
    font-size: 65px;
 }

 .span5{
    font-size: 25px;
 }

 .architect-description{
    box-shadow: 0 0 3px #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
 }

 .description-heading{
    margin-bottom: 15px;
 }

 .icons{
    margin-top: 100px;
 }

.icons> h1{
    margin-bottom: 15px;
    margin-left: 150px;
    font-size: 45px;
}

.icons>p {
margin-left: 150px;
}
 .icons-img{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 60px;
    
 }

.img-border{
    display: flex;
    height: 150px;
    width: 150px;
    flex-direction: column;
    border: 1px solid orange;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.img-border>h1{
    margin-top: 10px;
    
}
.img-border>p{
    color:rgb(118, 145, 170);
    font-weight:400;
    font-size: 16px;
    padding-top: 5px;
}
.bottom{
    margin-top: 100px;
}
 .bottom-heading{
    text-align: center;
 }

 .bottom-heading >h1{
    margin-bottom: 20px;
    font-size: 45px;;
 }

 .bottom-heading>p{
    color:rgb(118, 145, 170);
 }

 .bottom-logos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    filter: grayscale(100%);
 }

 footer{
    background-color:#ff900e1a ;
    padding: 25px;
    margin: 100px 10%;
    text-align: center;
    border-radius: 5px;
 }




 /* ========================media querry starts here =================================================*/

 @media screen and (max-width:576px) {
    *{
        margin: auto;
    }
    .nav-bar h1{
        margin-left: 0;
    }

    .header-section{
        height: auto;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .nav-menu ul{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
      }

      .banner-img img{
        height: 500px;
        width: 80%;
        border-radius: 8px;
    
    }

    .nav-body p{
        padding: 10px;
    }

    .main{
        flex-direction: column-reverse;
        /* align-items: center; */
        }

    .main-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .main-text p{
        padding: 20px;
    }
   .main-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin: auto;
   }
   .btn-res{
    width: 120px;
    margin: auto;
    margin-bottom: 20px;

   }
   .architect{
    flex-direction: column;
    align-items: center;
   }

   .architect-text{
 
    margin: auto;
  
 }

 .architect-text h1{
    font-size: 20px;
    text-align: center;
 }
   .architect-img img{
    width: 80%;
    margin-left: 55px;
   }

   .btn-big{
    bottom:115px;
    left: 80px;
 }

   .icons{
    margin-top: -10px;
   }
   .icons>h1{
    margin-left: 95px;
   }
   .icons p{
    text-align: center;
    margin-left: 0;
    padding: 20px;
   }
   .icons-img{
    flex-direction: column;
    gap: 10px;
   }
   .bottom{
    display: flex;
    flex-direction: column;
   }

   .bottom-heading>p{
    padding: 20px;
 }
   .bottom-logos{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }

   .footer{
    width: 100%;
   }
   
  }

  